body{
  background: #f57c19 ;

}
main{ 
    display:flex;
    justify-content: center;
    flex-direction: row;
}

section{
   background-color: #f7d541; 
   margin: 10px;
   padding: 15px;
   border-radius:5px ;
 border: 10px,solid,#000000;

}
