@import url();

body{
  background:#EAF4F4;
  header {
    display: flex;
    justify-content: space-arond;
  }
}
main{ 
    display:flex;
    justify-content: center;
    flex-direction: row;
}

section{
   background-color: #6B9080;
   margin: 10px;
   padding: 15px;
   border-radius:5px ;
 border: 10px,solid,#000000;

}

.button{
  cursor: pointer;
  background-color: aliceblue;
  padding: 5px;
  border-radius:15px;
  font-family:'Ibarra Real Nova';
  color: #535035;
}
.button:hover{
  background-color: #000000;
}
.barra:hover{
  background-color: #000000;
}



